body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f6f6f6;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  min-height: 100vh;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.sidebar {
  padding: 0;
  margin: 0;
  width: 280px;
  min-height: 100%;
  font-size: 24px;
  background-color: #fff;
  transition: transform 0.3s ease;
  position: fixed;
  z-index: 999;
}

.sidebar ul {
  list-style-type: none;
}

.sidebars {
  margin: 20px 0;
  text-align: left;
}

.highlight {
  background-color: #967259;
  color: white;
  padding: 5px 10px;
  border-radius: 10px;
  width: 150px;
}

.tambah-pesanan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 250px;
  text-align: center;
  background-color: #967259;
  color: white;
  border-radius: 10px;
}

.tambah-pesanan div span {
  font-size: 20px;
  margin-bottom: 20px;
}

.tambah-pesanan button {
  display: flex;
  gap: 13px;
  font-size: 17px;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  background-color: white;
  text-align: center;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.tambah-pesanan .tmbhBtn a {
  text-decoration: none;
  color: black;
}

.sidebar .logout {
  position: absolute;
  left: 40px;
  bottom: 15px;
  font-size: 18px;
  padding: 10px;
  background: none;
  border: none;
  cursor: pointer;
}

.content {
  margin-left: 330px;
}

.content .profile {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.profile div {
  display: flex;
  flex-direction: column;
}

.profile div .name {
  font-size: 24px;
}

.row::after {
  display: table;
  clear: both;
}

.col {
  float: left;
  box-sizing: border-box;
  height: 100%;
}

/* Small Devices */
@media (max-width: 850px) {
  .col {
    width: 100%;
    height: 100%;
  }
}

/* Medium Devices */
@media (min-width: 851px) {
  .col {
    width: 50%;
    height: 100%;
  }
}

/* Large Devices */
@media (min-width: 1300px) {
  .col {
    width: 25%;
    height: 100%;
  }
}

.hamburger {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
}

.hamburger-icon {
  width: 20px;
  height: 3px;
  display: block;
  position: relative;
}

@media (max-width: 850px) {
  .content {
    margin: 0 200px;
    justify-content: center;
    flex-grow: 1;
  }
  .sidebar {
    transform: translateX(-100%);
  }
  .sidebar ul:nth-child(1) {
    margin-top: 60px;
  }
  .hamburger {
    position: fixed;
    display: block;
    z-index: 9999;
    font-size: 24px;
    margin-left: 30px;
  }
  .hamburger.active .hamburger-icon {
    background-color: transparent;
  }
  .hamburger.active + .sidebar {
    transform: translateX(0);
  }
}

.card {
  display: flex;
  position: relative;
  border-radius: 20px;
  margin-left: 10px;
  padding-left: 10px;
  width: 250px;
  height: 100%;
  box-sizing: border-box;
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 100%;
  background: linear-gradient(to bottom, #38220f, #634832);
  border-radius: 20px 0 0 20px;
}

.card-body {
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 5px 10px #000;
}

.content .statistik-transaksi div .filter ul li {
  cursor: pointer;
}

.content .statistik-transaksi .card .card-title {
  font-size: 20px;
  width: 200px;
}

.content .statistik-transaksi .card .card-link-div {
  display: flex;
}

.card .card-link-div .card-link {
  margin-left: 15px;
}

.content .statistik-transaksi .card .card-subtitle {
  font-size: 14px;
}

.container .wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px 20px 40px 0;
}

.first-wrapper,
.second-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  align-items: center;
  margin-left: 320px;
  height: 100%;
}

.chart-wrapper-1 {
  width: 50vw;
  height: 100%;
  box-shadow: 5px 10px #634832;
}

.chart-wrapper-2 {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.chart-wrapper-1,
.chart-wrapper-2 {
  background-color: white;
  border-radius: 10px;
  padding: 0px 10px;
  box-shadow: 5px 10px #634832;
}

.first-wrapper .transaction-qty {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: white;
  text-align: left;
  padding: 0px 20px;
  box-shadow: 5px 10px #634832;
}

.second-wrapper .row .col .product-type-transaction {
  box-shadow: 5px 10px #634832;
}

.statistik-transaksi div div ul {
  display: flex;
  list-style-type: none;
  gap: 15px;
  padding-left: 0;
}

.statistik-transaksi div div ul .filter-div {
  background-color: #967259;
  padding: 10px;
  border-radius: 10px;
  color: white;
  align-items: start;
  text-align: left;
}

.statistik-transaksi div div ul .filter-div #myForm {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  font-size: 24px;
}

.statistik-transaksi div div ul .filter-div #myForm .date-div {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 1201px) {
  .wrapper .first-wrapper,
  .wrapper .second-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 170px;
    height: 100%;
  }

  .wrapper .first-wrapper .row {
    display: flex;
    margin-left: 170px;
    gap: 320px;
    align-items: center;
  }
  .wrapper .second-wrapper .row {
    margin-left: 170px;
    display: flex;
    gap: 320px;
    align-items: center;
  }

  .first-wrapper .row .col .chart-wrapper-1 {
    width: 600px;
    height: 400px;
  }

  .first-wrapper .row .col .transaction-qty {
    padding: 10px;
    width: 400px;
    height: 390px;
  }

  .second-wrapper .row .col .product-type-transaction {
    width: 600px;
    height: 400px;
  }

  .second-wrapper .row .col .chart-wrapper-2 {
    width: 400px;
    height: 420px;
  }
}

@media only screen and (max-width: 1300px) {
  .wrapper .first-wrapper .row,
  .wrapper .second-wrapper .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1000px;
  }

  .first-wrapper .row .col .transaction-qty {
    width: 500px;
  }

  .second-wrapper .row .col .product-type-transaction {
    width: 635px;
    padding: 10px;
  }

  .second-wrapper .row .col .chart-wrapper-2 {
    margin-top: 30px;
    width: 635px;
  }
}

@media only screen and (max-width: 1200px) {
  .container .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .wrapper .first-wrapper .row .col .transaction-qty,
  .wrapper .first-wrapper .row .col .chart-wrapper-1 {
    width: 100%;
    height: 100%;
  }

  .wrapper .second-wrapper .row .col .product-type-transaction,
  .wrapper .second-wrapper .row .col .chart-wrapper-2 {
    width: 100%;
    height: 100%;
  }

  .statistik-transaksi div div ul {
    display: flex;
    list-style-type: none;
    gap: 15px;
    margin: 0 150px;
  }

  .statistik-transaksi div div ul .filter-div #myForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: 0px;
    align-items: start;
  }

  .statistik-transaksi div div ul .filter-div #myForm .date-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.transaction-qty table {
  text-align: center;
}
.transaction-qty tr th,
.transaction-qty tr td {
  padding: 10px;
}

.transaction-qty table tr th:nth-child(1),
.transaction-qty table tr td:nth-child(1) {
  text-align: left;
}

.second-wrapper .product-type-transaction {
  width: 400px;
  background-color: white;
  height: 400px;
  border-radius: 10px;
  padding: 10px;
}

.product-type-transaction table {
  text-align: center;
}
.product-type-transaction table tr th,
.product-type-transaction table tr td {
  padding: 10px;
}

.product-type-transaction table tr td {
  border-bottom: 1px solid black;
}

.product-type-transaction table tr th:nth-child(1),
.product-type-transaction table tr td:nth-child(1) {
  text-align: left;
}
